[submodule "BleachVsNaruto_FlashSrc"]
	path = BleachVsNaruto_FlashSrc
	url = https://github.com/5DPLAY-Game-Studio/BleachVsNaruto_FlashSrc.git
[submodule "LIB_KyoLib"]
	path = LIB_KyoLib
	url = https://github.com/5DPLAY-Game-Studio/LIB_KyoLib.git
